<div class="container">
	<div class="row contacts">
		<div class="col-sm-12">
			<div class="heading">
				<h3>Contacts Us</h3>
				<p>
					Lorem ipsum dolor sit amet conse ctetur adiisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				</p>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="touchWithUs">
				<h3>Get In Touch With Us</h3>
			</div>
		</div>
		<div class="col-sm-7">
			<div class="form">
				<%= form_tag('/posts') do %>
				  <div><%= text_field_tag 'name', nil, placeholder: 'Name' %></div>
				  <div><%= email_field_tag 'email', nil, placeholder: 'Email' %></div>
				  <div><%= telephone_field_tag 'mobile', nil, placeholder: 'Mobile' %></div>
				  <div><%= text_area_tag 'messages', nil, placeholder:'Messages' %></div>
				  <div class="text-center"><%= submit_tag 'Submit', class: 'submit' %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>